<html>
	<head>
		<title>
			{{ title }}
		</title>
		{% if current_user.is_authenticated %}
			<a href="{{ url_for('home') }}">Home Page</a>
			<a href="{{ url_for('post') }}">Post</a>
			<a href="{{ url_for('logout') }}">Logout</a>
			<p> Welcome {{ current_user.email }}</p>
		{% else %}
			<a href="{{ url_for('home') }}">Home Page</a>
			<a href="{{ url_for('post') }}">Post</a>
			<a href="{{ url_for('login') }}">Login</a>
			<a href="{{ url_for('register') }}">Register</a>
		{% endif %}
	</head>
	<body>
		{% block body_content  %}{% endblock  %}
	</body>
</html>	
